@use "../util" as u;

.hero {
  $hero: &;

  text-align: center;
  background-color: u.hslv(background-light-secondary);
  padding-block: u.rem(100);
  padding-inline: u.rem(10);

  &__text {
    font-family: u.$font-secondary;
    font-size: clamp(u.rem(14), u.rem(8) + 1vw, u.rem(20));
    color: u.hslv(text-dark-secondary);
    margin-bottom: u.rem(35);
  }

  &--about {
    @extend #{$hero};
    background-blend-mode: multiply;
    background: url("assets/bg-about.jpg") center center rgba(0,0,0,.6);

    .#{hero}__heading {
      color: u.hslv(text-light-primary);
    }

    .#{hero}__text {
      color: u.hslv(text-light-secondary);
    }
  }

  &--white {
    @extend #{$hero};
    background-color: u.hslv(background-light-primary);
  }
}
