<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&family=Work+Sans&display=swap" rel="stylesheet">
    <title>Piroll</title>
</head>
<body>
    <header class="header">
        <div class="header__inner container">
            <img class="header__logo" src="assets/logo.png" alt="">
            <nav class="header__navbar">
                <ul class="header__list">
                    <li class="header__list-item header__list-item_active"><a href="">Home</a></li>
                    <li class="header__list-item"><a href="">About</a></li>
                    <li class="header__list-item"><a href="">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>