@import './variables.scss';

.footer {
    padding: 8rem 4rem;

    background-color: $bg-footer;
    color: $text-footer;

    &__inner {
        padding: 0 4rem;
        display: flex;
        justify-content: space-between;
    }

    &__heading {
        color: $text-contrast;
        margin-bottom: 2rem;

        font-size: 1.8rem;
    }

    &__nav {
        display: flex;
        column-gap: 4rem;
    }

    &__list {
        list-style: none;
    }

    & li, & p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}