$active_link: #10c9c3;

.header {
    padding: 3rem;
    background-color: #fff;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: auto;
        height: 3rem;
    }

    &__navbar {
        margin-left: auto
    }

    &__list {
        display: flex;
        column-gap: 1.5rem;
        list-style: none;

        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    &__list-item {
        color: #000;
        &_active {
            color: $active_link;
        }
    }
}