@import './variables.scss';

// General styles
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    
    background-color: $body-bg;
    color: $c-text-primary;
}

// Main content styles
.main {
    &__inner {
        padding: 0  4rem;
    }

    &__hero {
        text-align: center;
        margin: 10rem 0;

        &-text {
            color: $c-text-secondary;

            margin: 0 auto;
            max-width: 58rem;

            font-size: 2rem;
            font-family: 'Nunito Sans', sans-serif;
        }
    }

    &__heading {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(4, 0.25fr);
        justify-items: stretch;
    }
}