@import './variables.scss';

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

// General styles
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    
    background-color: $bg-body;
    color: $text-primary;
    line-break: normal;
}

// Main content styles
.main {
    &__hero {
        text-align: center;
        margin: 10rem 0;
        padding: 0 4rem;

        &-text {
            color: $text-secondary;

            margin: 0 auto;
            max-width: 58rem;

            font-size: 2rem;
            font-family: 'Nunito Sans', sans-serif;
        }
    }

    &__heading {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-items: stretch;
    }

    &__image {
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: transform 3s ease-out;
    }

    &__image-icon {
        position: absolute;
        font-size: 5rem !important;
        color: white;
        opacity: 0;
        transition: opacity 0.4s linear;
    }

    &__image-overlay {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        overflow: hidden;
        cursor: pointer;

        filter: grayscale(0.25);
        transition: filter 0.3s ease-in-out;

        &:hover {
            filter: grayscale(0);

            & img {
                transform: scale(1.2);
            }

            .main__image-icon {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: $br-lg) {
    :root {
        font-size: 8px;
    }
    .main {
        &__gallery {
            grid-template-columns: repeat(3, auto);
        }
    }
}

@media screen and (max-width: $br-sm) {
    .main {
        &__gallery {
            grid-template-columns: repeat(2, auto);
        }
    }
}

@media screen and (max-width: $br-xs) {
    .main {
        &__hero {
            padding: 0 2rem;
        }

        &__gallery {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: $br-2xs) {
    body {
        line-break: loose;
    }
}