@import './variables.scss';

.header {
    padding: 3rem 8rem;
    background-color: $bg-header;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: auto;
        height: 3rem;

        &-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__menu-button {
        visibility: hidden;
    }

    &__list {
        display: flex;
        column-gap: 3rem;
        row-gap: 1.5rem;
        list-style: none;
        overflow: hidden;

        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;

        transition: opacity .5s ease-out, max-height .3s linear;
    }

    &__list-item {
        transition: color 0.1s ease-out;
        color: $text-primary;

        &:hover {
            color: $text-header-hover;
        }

        &_active {
            color: $text-header-hover;
        }
    }
}

@media screen and (max-width: $br-md) {
    .header {
        padding: 3rem 4rem;
    }
}

@media (max-width: $br-sm) {
    .header {
        &__inner {
            flex-direction: column;
            align-items: flex-start;
        }

        &__menu-button {
            visibility: visible;
        }

        &__list {
            opacity: 0;
            max-height: 0;
            flex-direction: column;

            &_active {
                opacity: 1;
                max-height: 500px;
            }
        }

        &__list-item {
            &:first-child {
                margin-top: 3rem;
            }
        }
    }
}

@media (max-width: $br-xs) {
    .header {
        padding: 2rem;
    }
}