:root {
  --background-light-primary: 0, 0%, 100%;
  --background-light-secondary: 0, 0%, 96%;
  --background-dark: 0, 0%, 8%;
  --background-accent: 178, 85%, 43%;

  --text-light-primary: 0, 0%, 100%;
  --text-light-secondary: 0, 0%, 74%;
  --text-dark-primary: 0, 0%, 10%;
  --text-dark-secondary: 0, 0%, 48%;
  --text-accent: 178, 85%, 43%;
}
